{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="site-header bg-black flex items-center justify-between ph4 pv3">
    <div class="main-name">
      <img class="site-icon" src="/uploads/pb-small-logo.png" alt="Logo" class="logo mr3" />
      <div class="white">
        <h1 class="main-name-title">Paulo Baptista</h1>
        <p class="main-name-subtitle">Corretor imobiliário</p>
      </div>
    </div>
    
    <!-- Ícone do Menu (Hambúrguer) -->
    <div class="menu-toggle" onclick="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  
    <nav>
      <a href="/" class="link white-80 hover-blue pa2 br2">Início</a>
      <a href="/imoveis" class="link white-80 hover-blue pa2 br2">Imóveis</a>
      <a href="/contato" class="link white-80 hover-blue pa2 br2">Contato</a>
    </nav>
  
    <a class="whatsapp" href="https://w.app/la75bz" target="_blank" rel="noopener">
      <img src="/uploads/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon mr2" />
      <span>11981852310</span>
    </a>
  </header>
  
{{ else }}
<header class="site-header bg-black flex items-center justify-between ph4 pv3">
  <div class="main-name">
    <img class="site-icon" src="/uploads/pb-small-logo.png" alt="Logo" class="logo mr3" />
    <div class="white">
      <h1 class="main-name-title">Paulo Baptista</h1>
      <p class="main-name-subtitle">Corretor imobiliário</p>
    </div>
  </div>
  
  <!-- Ícone do Menu (Hambúrguer) -->
  <div class="menu-toggle" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav>
    <a href="/" class="link white-80 hover-blue pa2 br2">Início</a>
    <a href="/imoveis" class="link white-80 hover-blue pa2 br2">Imóveis</a>
    <a href="/contato" class="link white-80 hover-blue pa2 br2">Contato</a>
  </nav>

  <a class="whatsapp" href="https://w.app/la75bz" target="_blank" rel="noopener">
    <img src="/uploads/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon mr2" />
    <span>11981852310</span>
  </a>
</header>

<script>
  function toggleMenu() {
    document.querySelector('.site-header').classList.toggle('menu-open');
  }
</script>

{{ end }}
